* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: mediumblue;
    color: white;
}

header .head_title{
    line-height: 100px;
    float: left;
    font-size: 40px;
    margin-left: 5%;
}

header .menu_container{
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}

header .menu_content{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

header .menu_text{
    color: inherit;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
}

.game_article{
    margin-bottom: 25px;
    text-align: center;
}

.game_title{
    font-size: 30px;
    color: white;
}

.game_catchphrase{
    font-size: 18px;
    color: white;
}

.game_headline{
    background-color: steelblue;
    padding: 10px;
    margin-bottom: 20px;
}

.game_info{
    margin: 10px;
}

.game_link_container{
    width: 450px;
    border-right: solid 5px steelblue;
    border-left: solid 5px steelblue;
    border-bottom: solid 5px steelblue;
    color: white;
    margin: 0px auto;
}

.game_link_title{
    padding: 10px 20px;
    background-color: steelblue;
    margin: 0px;
}

.game_link_content{
    padding: 10px;
    font-size: 20px;
}

.game_link{
    line-height: 40px;
    font-size: 20px;
    margin: 20px;
}

.caution{
    font-size: 13px;
    line-height: 20px;
    margin: 10px;
    color: orangered;
}

.DLlink{
    margin: auto;
}

.commingsoon{
    line-height: 300px;
}

.paragraph{
    padding: 30px 100px;
    line-height: 1.5;
}

.subtitle{
    height: 75px;
    line-height: 75px;
    width: 100% - 50px;
    font-size: 30px;
    padding-left: 50px;
    color: white;
    background-color:steelblue;
}

.month{
    text-align: right;
}

.career{
    text-align: left;
}

.footer_link{
    color: inherit;
    text-decoration: none;
}

footer{
    height: 70px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: mediumblue;
    color: white;
    font-size: 20px;
}